<!-- Loop over each post object -->
{{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="card col-md-6">
    <!-- Render post-specific data with Handlebars.js expressions -->
    <h2>{{post.title}}</h2>
    <h2>{{post.user_id}}</h2>
    <h2>{{post.content}}</h2>
  </div>
</div>
{{/each}}